[submodule "lib/lora_gateway"]
	path = lib/lora_gateway
	url = git@github.com:NebraLtd/packet_forwarder.git
[submodule "lib/packet_forwarder"]
	path = lib/packet_forwarder
	url = git@github.com:NebraLtd/packet_forwarder.git
